:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 63 57 105;
  --oui-color-primary-light: 132 122 183;
  --oui-color-primary-darken: 24 22 39;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 93 78 173;
  --oui-color-link-light: 142 121 210;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 237 56 84;
  --oui-color-danger-light: 250 128 151;
  --oui-color-danger-darken: 221 39 68;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 179 76;
  --oui-color-success-light: 85 221 122;
  --oui-color-success-darken: 21 141 57;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 191 38;
  --oui-color-warning-light: 255 217 90;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 29 26 38;
  --oui-color-fill-active: 40 37 54;

  --oui-color-base-1: 51 46 66;
  --oui-color-base-2: 43 38 56;
  --oui-color-base-3: 36 32 47;
  --oui-color-base-4: 29 26 38;
  --oui-color-base-5: 22 20 28;
  --oui-color-base-6: 18 16 24;
  --oui-color-base-7: 74 67 108;
  --oui-color-base-8: 64 58 94;
  --oui-color-base-9: 14 13 18;
  --oui-color-base-10: 8 7 12;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 56 84;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 179 76;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 40 0 97;
  --oui-gradient-primary-end: 93 78 173;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 142 121 210;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 34 179 76;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 237 56 84;

  --oui-gradient-brand-start: 108 94 165;
  --oui-gradient-brand-end: 159 107 225;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 191 38;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}